{% extends "base.html" %} 
{% block title %} Finanzen-Tracker {% endblock %}
{% block home %}
<a href="{% url 'ToDoApp:index' %}">Home</a>
{% endblock %}
{% block content %}
<form method="POST" action="{% url 'ToDoApp:ausgaben' monat %}">
{% csrf_token %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Typ</th>
                <th>Monat</th>
                <th>Kategorie</th>
                <th>Titel</th>
                <th>Betrag in Euro</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% if not form.instance.id %}
            <tr>
                {%include 'save.html'%}
            </tr>
            {% endif %}
            {% for ausgabe in ausgaben %}
            <tr class="{% if ausgabe.type == 'A' %}table-danger{% elif ausgabe.type == 'E' %}table-success{% endif %}">
                {% if form.instance.id == ausgabe.id %}
                {% include 'save.html' %}
                {% else %}
                <td>{{ausgabe.get_type_display}}</td>
                <td>{{ausgabe.get_month_display}}</td>
                <td>{{ausgabe.get_category_display}}</td>
                <td>{{ausgabe.title}}</td>
                <td>{{ausgabe.amount}}</td>
                <td>
                    <button formnovalidate type="submit" class="btn btn-warning" name="edit" value="{{ausgabe.id}}">Bearbeiten</button>
                    <button formnovalidate type="submit" class="btn btn-danger" name="delete" value="{{ausgabe.id}}">Löschen</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
