{% extends "base.html" %}
{% block title %} Übersicht der Ausgaben {% endblock %}
{% block content %}
<h2> Übersicht aller Monate </h2>
<div class="container m-0 p-0">
    <div class="row row-cols-4 g-2">
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Januar </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 1%}">Januar</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Februar </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 2%}">Februar</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
             <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> März </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 3%}">März</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> April </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 4%}">April</a>
                    </p>
                </div>
            </div>
        </div>         
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Mai </h1>
                    <p>
                         <a href="{% url 'ToDoApp:ausgaben' 5%}">Mai</a>
                    </p>
                </div>
            </div>
        </div> 
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Juni </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 6%}">Juni</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Juli </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 7%}">Juni</a>
                    </p>
                </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> August </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 8%}">Juni</a>
                    </p>
                </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> September </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 9%}">Juni</a>
                    </p>
                </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Oktober </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 10%}">Juni</a>
                    </p>
                </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> November </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 11%}">Juni</a>
                    </p>
                </div>
            </div>
         </div>
         <div class="column">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Dezember </h1>
                    <p>
                        <a href="{% url 'ToDoApp:ausgaben' 12%}">Juni</a>
                    </p>
                </div>
            </div>
         </div>
    </div>
</div>
{{ div| safe }}
{% endblock %}
{% block footer %}
<footer class="d-flex justify-content-center">
    <a href="{% url 'admin:index' %}" class="btn btn-warning"> Admin Portal! </a>
</footer>
{{ script| safe }}
{% endblock %}
